html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden; /* スクロールバーを消す */
}

canvas {
    display: block; /* canvas要素のデフォルトのマージンを消す */
}

#title-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 100;
}

#pause-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 101;
}